@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Titillium+Web:wght@300&display=swap');

* {
  font-family: 'Titillium Web', sans-serif;
}

a:hover {
  color: rgb(0, 238, 255);
  text-decoration: none;
}

.logo {
  font-family: 'Permanent Marker', cursive;
  font-size: 1.7em;
  color: rgb(255, 115, 0);
}
.logo:hover {
  color: rgb(183, 0, 255);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(21, 255, 0);
}

.footer-logo {
  font-family: 'Permanent Marker', cursive;
  font-size: 1.3em;
}

.filter-div {
  margin-bottom: 80px;
}

/* .character-img {
  height: 600px;
} */

.list-group-hover .list-group-item:hover {
  background-color: #556c75;
}

.char-shadow {
  -webkit-box-shadow: 0px 29px 51px 5px rgba(27, 29, 38, 1);
  -moz-box-shadow: 0px 29px 51px 5px rgba(27, 29, 38, 1);
  box-shadow: 0px 29px 51px 5px rgba(27, 29, 38, 1);
}

.villain-color {
  background-color: blueviolet !important;
}
